<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC Tech Blog</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

        <header>
            {{!-- Page Title Here --}}
            <h1><a href="/">The Tech Blog</a></h1>

            {{!-- Navlinks Here --}}
            <nav>
                <span><a href="/"> Home </a></span>
                {{!-- {{log 'loggedIn?' loggedIn}} --}}
                {{#if loggedIn}}
                <a href="/dashboard"><button class="dashboard">Dashboard</button></a>
                <button id="logout">Logout</button>
                {{else}}
                <a href="/login"> Login/Sign-Up </a>
                {{/if}}
            </nav>
        </header>
        
    <div class="wrapper">
        <main>
            {{!-- Body Content Here --}}
            {{{body}}}
        </main>
        <footer>
            {{!-- Footer Content Here --}}
            Thank You For Visiting!
        </footer>
    </div>

    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>