{{!-- Loop over each object in the posts array --}}
<ul class="post-list">
    {{#each posts as |post|}}
    <li>
        {{> post-info post}}
        <p>Created by {{post.user.name}} on {{format_date post.date_created}}</p>
    </li>
    {{/each}}
</ul>