body {
    background-color: rgba(224, 224, 163, 0.514);
}

header {
    background-color: black;
    padding: 2%;
}

.wrapper {
    background-color: whitesmoke;
    padding: 2%;
}

.title {
    font-size: 16pt;
    font-weight: 400;
}

button {
    background-color: #dd9b9b;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a {
    color: indianred;
}

a:hover {
    color: hotpink;
}

a:active {
    color: blue;
}

a:visited {
    color: indianred;
}

footer{
    background-color: black;
    z-index: 1;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 1.2%;
    color: indianred;
}
